[Unit]
Description=Consul - Service discovery

[Service]
ExecStartPre=-/usr/bin/docker kill consul-%i
ExecStartPre=-/usr/bin/docker rm consul-%i
ExecStartPre=-/usr/bin/docker pull progrium/docker-consul
ExecStart=/usr/bin/docker run -p 8400:8400 -p 8500:8500 -p 8600:53/udp -h consul-%i progrium/consul -server -bootstrap
ExecStop=/usr/bin/docker stop consul-%i

[X-Fleet]
Global=true

